<div class="limiter">
    <div class="container-login50">
        <div class="wrap-login100 p-b-160 p-t-50">
            <form class="login100-form validate-form" (ngSubmit)="onSignup(f)" #f="ngForm">
                <span class="login100-form-title p-b-43">
          Registrate
        </span>

                <div class="wrap-input100 rs1 validate-input" [ngClass]="{'alert-validate': !f.value.username }" data-validate="EL username es necesario">
                    <input class="input100" type="text" name="username" ngModel>
                    <span class="label-input100">Username</span>
                </div>


                <div class="wrap-input100 rs2 validate-input" [ngClass]="{'alert-validate': !f.value.pass }" data-validate="La Contraseña es necesaria">
                    <input class="input100" type="password" name="pass" ngModel>
                    <span class="label-input100">Contraseña</span>
                </div>

                <div class="container-login100-form-btn">
                    <button type="submit" [disabled]="!f.valid" class="login100-form-btn">
                        Registrar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>