<mat-sidenav-container class="sidenav-container" [hasBackdrop]="true">
    <mat-sidenav #drawer class="sidenav"  fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="'over'" [opened]="!(isHandset$ | async)">
        <mat-toolbar color="primary">Estadisticas</mat-toolbar>
        <mat-nav-list>
            <!-- <button (click)="estadisticas">Mostrar estadisticas</button> -->`
            
            <!-- <div> -->
               
                <p>Victorias: {{ estadisticasI ? estadisticasI.victorias : '0' }} - Derrotas: {{ estadisticasI ? estadisticasI.derrotas : '0'}}</p> 
                <!-- <app-salas></app-salas> -->
                    <!-- <p>{{ jugador 1 }} vs {{ jugador2 }} </p> <br>
                    <p>Victorias: {{ j1V }} - Derrotas: {{ j1D }}</p> -->
            <!-- </div> -->
            <button type="button"(click)="cerrar()" >cerrar sesion</button>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
            <span>Conecta 4</span>
        </mat-toolbar>
    </mat-sidenav-content>
</mat-sidenav-container>